.containerHorarios{
    margin: 40px auto;
    width: 100%;
    max-width: 1024px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.titulo{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.cardHorarios{
    width: 100%;
    max-width: 450px !important;
    padding: 20px;
    height: auto;
    max-height: 189px;
    border-radius: 35px;
    box-shadow: 0px 6px 10px #A59DD4;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.diaSemana{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #7A3998;
}

.horarioFuncionamento{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #7A3998;
}

.botaoAgendar{
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .titulo{
        font-size: 1.5rem;
    }
}