.navBar{
    width: 100%;
    z-index: 1101 !important;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navContent{
    z-index: 1101 !important;
}


@media screen and (max-width: 768px) {
    .logo{
        width: 50px;
        height: 50px;
    }
    .navContent{
        font-size: 12px;
        flex-wrap: wrap;
    }
    .botao{
        width: 100%;
        max-width: 50px;
    }
}

.mobileNav{
    display: none;
}
.mobileDropdown{
    display: none;
}

@media screen and (max-width: 839px) {
    .navContent{
        display: none;
    }
    .mobileNav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .mobileDropdown{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}