@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.containerPopUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.containerPopHidden{
    display: none;
}

.titulo{
    font-family: 'Playfair Display SC', serif;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.popUpContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 50px 20px 50px 20px;
    margin-bottom: 20px;
    gap: 20px;
    position: relative;
}

.botaoFechar{
    position: absolute;
    top: 10px;
    right: 10;
    width: 100%;
    max-width: 120px;
    height: 100%;
    max-height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: #FFF;
    background-color: #8f289a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    &:hover{
        background-color: #611D67;
    }
}

.textoFechar{
    color: #fff;
}

.subTitulo{
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #611D67;
}

.botaoFaleConosco{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #8f289a;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    max-height: 50px;
    color: #fff;
    margin-top: 15px;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
    }
}

.icone{
    width: 100%;
    max-width: 50px;
    height: auto;
    object-fit: cover;
}

.icone{
    width: 100%;
    max-width: 50px;
    height: auto;
    object-fit: cover;
}

.paragrafo{
    color: #eeecec;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .popUpContent{
        max-height: 500px !important;
        max-width: 500px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .botaoFechar{
        max-width: 100px;
        max-height: 30px;
    }
    .titulo{
        font-size: 1.5rem;
    }
    .subTitulo{
        font-size: 1.5rem;
        margin-top: 10px
    }
    .botaoFaleConosco{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        background-color: #8f289a;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        font-style: normal;
        width: 100%;
        max-width: 300px;
        max-height: 50px;
        color: #fff;
        margin-top: 15px;
        transition: all 0.3s ease;
        &:hover{
            transform: scale(1.05);
        }
    }
}