.containerLocal{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.mapIframe{
    width: 100%;
    max-width: 800px;
    height: 500px;
    border-radius: 15px;
}

@media screen and (max-width: 428px){
    .mapIframe{
        padding: 10px;
        height: 350px;
    }
}