.container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.containerAbout {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.botaoWhats {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 9999px;
    padding: 10px 20px;
    font-weight: 600;
    width: 60%;
    text-align: center;
}

.imagemContainer {
    position: relative;
    width: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}


.blobRoxo {
    position: absolute;
    width: 379px;
    height: 271px;
    background: linear-gradient(135deg, #a855f7, #c084fc);
    border-radius: 45% 55% 50% 50% / 55% 45% 55% 45%;
    top: 20px;
    right: 10px;
    z-index: 1;
}


.blobRosaClaro {
    position: absolute;
    width: 272px;
    height: 222px;
    background: linear-gradient(135deg, #d98bc9, #e5b8e0);
    border-radius: 50% 50% 45% 55% / 45% 55% 45% 55%;
    bottom: 10px;
    left: 0;
    z-index: 1;
}


.imagem {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 10px;
}

@media screen and (min-width: 769px){
    .imagem{
        width: 60%;
    }
}


@media (max-width: 768px) {
    .container {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .containerAbout {
        width: 100%;
        text-align: center;
        gap: 20px;
    }

    .imagemContainer {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blobRoxo {
        width: 320px;
        height: 235px;
        top: 20px;
        right: 0;
    }

    .blobRosaClaro {
        width: 235px;
        height: 185px;
        bottom: 10px;
        left: 0;
    }

    .imagem {
        width: clamp(260px, 55vw, 420px);
        height: auto;
        max-width: 420px;
    }

    .tituloAbout{
        font-size: 25px;
        text-align: start;
    }
    .txtRosa{
        font-size: 16px;
        text-align: start;
    }

    .botaoWhats{
        width: 100%;
    }
}


@media (max-width: 480px) {
    .imagemContainer {
        height: 300px;
        max-width: 360px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blobRoxo {
        width: 220px;
        height: 160px;
        top: 10px;
        right: -10px;
    }

    .blobRosaClaro {
        width: 160px;
        height: 130px;
        bottom: 0;
        left: -10px;
    }

    .imagem {
        width: clamp(200px, 60vw, 320px);
        height: auto;
        max-width: 320px;
    }
}