.container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.containerAbout {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botaoWhats {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 9999px;
    padding: 10px 20px;
    font-weight: 600;
    width: 60%;
    text-align: center;
}

.imagemContainer {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}


.blobRoxo {
    position: absolute;
    width: 379px;
    height: 271px;
    background: linear-gradient(135deg, #a855f7, #c084fc);
    border-radius: 45% 55% 50% 50% / 55% 45% 55% 45%;
    top: 20px;
    right: 10px;
    z-index: 1;
}


.blobRosaClaro {
    position: absolute;
    width: 272px;
    height: 222px;
    background: linear-gradient(135deg, #d98bc9, #e5b8e0);
    border-radius: 50% 50% 45% 55% / 45% 55% 45% 55%;
    bottom: 10px;
    left: 0;
    z-index: 1;
}


.imagem {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: 280px !important;
    height: 280px !important;
    object-fit: cover;
    background-color: #EACCF8;
    padding: 10px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .containerAbout {
        width: 100%;
        text-align: center;
    }

    .imagemContainer {
        width: 100%;
        height: 380px;
    }

    .blobRoxo {
        width: 300px;
        height: 215px;
        top: 20px;
        right: 0;
    }

    .blobRosaClaro {
        width: 215px;
        height: 175px;
        bottom: 10px;
        left: 0;
    }

    .imagem {
        width: 240px !important;
        height: 240px !important;
    }
}


@media (max-width: 480px) {
    .imagemContainer {
        height: 300px;
    }

    .blobRoxo {
        width: 220px;
        height: 160px;
        top: 10px;
        right: -10px;
    }

    .blobRosaClaro {
        width: 160px;
        height: 130px;
        bottom: 0;
        left: -10px;
    }

    .imagem {
        width: 180px !important;
        height: 180px !important;
    }
}